{% extends 'pages/base.html' %}

{% block title %}À propos - Mon Site Django{% endblock title %}

{% block content %}
    <h1> À propos de moi </h1>
    <p>Je suis un développeur Django passionné, en train d'apprendre ce framework python </p>
    <h2>Mes compétences :</h2>
    <ul>
        <li>Python (niveau intermédiaire)</li> 
        <Li>Django (en apprentissage)</1i> 
        <li>Git and GitHub</Li> 
        <Li>HTML and CSS</Li> 
        <li>JavaScript (bases)</li>
    </ul>
    <h2>Mon parcours :</h2>
    <p>J'ai commencé à apprendre la programmation en 2025 et je me spécialise maintenant </p>
    <h2>Mes objectifs :</h2>
    <ul>
        <li>Maitriser Django et ses bonnes pratiques</li> 
        <l1> Creer des applications web robustes</li> 
        <li>Contribuer à des projets open source</Li>
    </ul>
{% endblock %}

<!--
============== Partie avant l'héritage de templates/base=============================
<!DOCTYPE html>
<html lang="fr"> 
<head>
    <meta charset="UTF-8"> 
    <title>À propos - Mon Site</title> 
</head>
<body>
    <header>
        <h1> À propos</h1>
        <nav> 
            <a href="/">Accueil</a> 
            <a href="/about/">À propos</a> 
            <a href="/contact/">Contact</a> 
        </nav> 
    </header>
    <main>
        <h2>Qui suis-je ?</h2>
        <p>Je suis un développeur Django passionné.</p>
        <p>J'apprends Django pour créer des applications web modernes.</p>
        <h3>Mes compétences :</h3> 
        <ul> 
            <li>Python</li> 
            <li>Django</li> 
            <li>Git and GitHub</li> 
            <li>HTHL and CSS</li>
        </ul> 
    </main>
    <footer>
        <p>&copy: 2026 Mon Site Django</p> 
    </footer> 
</body> 
</html>
==============================================================
-->

